body {
  font-family:Roboto;
  color:#434455;
  background-color:#FFFFFF;

  ;
}
a span {
  color: #4D5AE5;
  font-family: Raleway;
font-size: 18px;
font-weight: 700;
line-height: 21px;
letter-spacing: 0.03em;
text-align: left;

}

.section_one {
  background-color: #2E2F42;
}

.section_two {

}

.section_three {
  background-color: #F4F4FD;
}

.section_four {

}

.footer_info {
  background-color:#2E2F42;
  font-family: Raleway;
font-size: 18px;
font-weight: 700;
line-height: 21px;
letter-spacing: 0.03em;
text-align: left;

}
.lowest_part {
  color: #F4F4FD;
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;

}