body {
  color:#434455;
  background-color:#FFFFFF;
  font-family: "Roboto", sans-serif;
}

.bluelogo {
  color: #4D5AE5;
  font-family: "Raleway",sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  
}
.blacklogo {
  color:#2E2F42;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.info {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2E2F42;
}

.list_info {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  color: #404bbf;
  color: #404bbf;
}

.mail_info {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #434455;
}
.mail_info_list {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  color: #404bbf;
  color: #404bbf;
}

.section_one {
  background-color: #2E2F42;
}
.main_title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.title_button {
  background-color: #4D5AE5;
  background-color: #4D5AE5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color:#404BBF;
  background-color:#404BBF;
  cursor: pointer;
}

.section_two {

}
.second_title {

}

.strategic {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.strategic_info {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.section_three {
  background-color: #F4F4FD;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color:#2e2f42;
}
.title_info {
font-size: 36px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0.02em;
text-align: center;
}

.name {
color:#2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;
}

.work_position {
color:#434455;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02em;
}

.section_four {

}

.name_of_service {
  color:#2E2F42;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.source {
  color:#434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em; 
}

.footer_info {
  background-color:#2E2F42;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-align: left;
}
.whitelogo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.text_under_logo {
  line-height: 1.5;
  color:#F4F4FD;
  letter-spacing: 0.02em;
}